#htmlResponse h1{
    font-size: 30px;
    color: black;
    font-weight: bold;
    text-transform: capitalize;
}

#htmlResponse h2{
    font-size: 25px;
    color: black;
    font-weight: bold;
}

#htmlResponse h3{
    font-size: 15px;
    color: black;
    font-weight: bold;
}


#htmlResponse h1{
    font-size: 30px;
    color: black;
    font-weight: bold;
}

#htmlResponse code{
    background-color: rgb(186, 190, 199);
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    font-size: 15px;
}

#htmlResponse em{
    font-size: 17px;
    font-style: oblique;
}

#htmlResponse li{
    list-style:disc;
}


#htmlResponse a{
color: rgb(36, 36, 36);
font-weight: lighter;
text-decoration: underline;
}

#htmlResponse a:hover{
    color: blueviolet;
}

#htmlResponse ul li{
    list-style:decimal;
    margin-left: 10px;
}

/* mainpage.css */


  button p{
    background-color: rgb(184, 103, 103);
    margin-top: 25px;
    position: absolute;
    width: fit-content;
    padding: 3px;
    color: black;
    font-weight: normal;
    border-radius: 3px;
  }


  .responsiveView{
    display: none;
  }

  .buttonContainer{
    display: none;
  }

/* 
.topHeading{
    background-color: yellow;
    height: 300px;
    position: absolute;
    z-index: 0;
    top:0;
} */


  @media only screen and (max-width:770px) {

    
   .show{
        /* display: none; */
        width: 100%;
        position: absolute;
    }

.hide{
        display: none;

    }

    #userInput{
        width: 100%;
    }

    .responsiveView{
        display: block;
      }

      .buttonContainer{
        display: block;
      }
  }