/* mainpage.css */

/* Light Theme */
.light-theme {
    --bg-color: #f0f0f0;
    --text-color: #000;
    --border-color: #ccc;
  }
  
  /* Dark Theme */
  .dark-theme {
    --bg-color: #333;
    --text-color: #fff;
    --border-color: #555;
  }
  
  /* Applying the theme */
  .allPage {
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  
  textarea,
  button {
    background-color: var(--bg-color);
    color: var(--text-color);
    border-color: var(--border-color);
  }
  
  /* Other styles... */
  

#htmlResponse h1{
    font-size: 30px;
    color: black;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 30px;
}

#htmlResponse h2{
    font-size: 25px;
    color: black;
    font-weight: bold;
    margin-bottom: 15px;
}

#htmlResponse h3{
    font-size: 15px;
    color: black;
    font-weight: bold;
}


#htmlResponse h1{
    font-size: 30px;
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
}

#htmlResponse code{
    background-color: rgb(186, 190, 199);
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    font-size: 15px;
    /* margin-bottom:120px ; */
    margin-top: 20px;
    text-align: right;
}

#htmlResponse em{
    font-size: 17px;
    font-style: oblique;
}

#htmlResponse li{
    list-style:disc;
}


#htmlResponse a{
color: rgb(36, 36, 36);
font-weight: lighter;
text-decoration: underline;
}

#htmlResponse a:hover{
    color: blueviolet;
}

#htmlResponse ul li{
    list-style:decimal;
    margin-left: 10px;
}

#htmlResponse p {
    margin-top: 20px;
}

/* mainpage.css */


  button p{
    background-color: rgb(218, 218, 218);
    margin-top: 25px;
    position: absolute;
    width: fit-content;
    padding: 3px;
    color: black;
    font-weight: normal;
    border-radius: 3px;
  }


  .responsiveView{
    display: none;
  }

  .buttonContainer{
    display: none;
  }


.topHeading{
    /* background-color: yellow;
    height: 100px; */
    /* position: absolute; */
    /* z-index: 1;
    top:0; */
} 


  @media only screen and (max-width:770px) {

    
   .show{
        /* display: none; */
        /* width: 100%; */
        position: absolute;
        width: 100vw;
        background-color: aqua;
    }

.hide{
        display: none;

    }

    #userInput{
        width: 100%;
    }

    .responsiveView{
        display: block;
      }

      .buttonContainer{
        display: block;
      }
  }