.custom-alert {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items:flex-start;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .custom-alert-content {
<<<<<<< HEAD
    background-color: #cfcfd2;
    padding: 20px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    /* text-align: center; */
    max-width:60%;
    min-width: 400px;
    height: 100px;
=======
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 500px;
    min-width: 350px;
    height: 200px;
>>>>>>> 2623caa6748c6199bddd8d7e5b311f98bbbb3079
    font-size: 12px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
<<<<<<< HEAD
    justify-content: space-around;
    flex-direction: row;
=======
    justify-content: center;
    flex-direction: column;
>>>>>>> 2623caa6748c6199bddd8d7e5b311f98bbbb3079
  }
  
  .custom-alert-content span {
    display: block;
    margin-bottom: 20px;
<<<<<<< HEAD
    font-size: 10px;
=======
    font-size: 20px;
>>>>>>> 2623caa6748c6199bddd8d7e5b311f98bbbb3079
    text-transform: capitalize;
  }
  
  .custom-alert-content button {
    /* padding: 10px 20px; */
<<<<<<< HEAD
    background-color: rgb(23, 24, 24);
=======
    background-color: rgb(80, 86, 86);
>>>>>>> 2623caa6748c6199bddd8d7e5b311f98bbbb3079
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
<<<<<<< HEAD
    width: 200px;
    font-size: 8px;
    height: 20px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
=======
    width: 40%;
    font-size: 18px;
    height: 30px;
>>>>>>> 2623caa6748c6199bddd8d7e5b311f98bbbb3079
   
    /* margin-top: 30px; */
  }
  
  .custom-alert-content button:hover {
<<<<<<< HEAD
    background-color: #9c9b9a;
=======
    background-color: #ece8dd;
>>>>>>> 2623caa6748c6199bddd8d7e5b311f98bbbb3079
    color: black;
  }
  

  @media screen and (max-width:800px) {
    .custom-alert-content {
        background-color: rgb(234, 224, 224);
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        width: 70%;
        height: 20%;
        font-size: 20px;
      }
  }